body {
	line-height: 1;
    scrollbar-width: 0px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

    font-family: 'Roboto';
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}